@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;  
  padding: 0;  
  overflow: hidden; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
.text-shadow {
  color: #000000;
  text-shadow: 0 0 2px #ffd700, 0 0 4px #ffd700, 0 0 6px #ffd700; 
}

.video-list-scrollable {
  overflow-x: auto; 
  padding-bottom: 20px; 
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video-list-scrollable::-webkit-scrollbar {
  height: 8px;
}

.video-list-scrollable::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 4px;
}

.video-list-scrollable .ant-row {
  flex-wrap: nowrap;
}

.video-card-col {
  display: inline-block;
  padding: 8px !important;
}

.video-responsive-scroll {
  padding: 1rem; 
  min-width: 640px; 
  overflow-x: auto; 
  overflow-y: hidden; 
}

.video-responsive-scroll .video-wrapper {
  position: relative;
  width: 100%;
  /* padding-top: 56.25%; */
  height: auto;
}

.video-responsive-scroll .video-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.ant-input-search .ant-input-search-button {
  border-radius: 0 9999px 9999px 0 !important;
}
.ant-input-search .ant-input-group-addon {
  border-radius: 0 9999px 9999px 0 !important;
}
.ant-input-search .ant-input {
  border-radius: 9999px 0 0 9999px !important;
}

.custom-button {
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
}